@media screen and (max-width: 800px) {
	nav.site form#searchform { position: static !important; }
}

@media screen and (max-width: 740px) {
	p.pull-quote { margin-right: 0; }
}

@media screen and (max-width: 600px) {
    ul.posts { list-style: square outside url(../images/clip.png) !important; }
    ul.posts time { display: none !important; }
    ul.posts li { padding-left: 0 !important; }
}
@media screen and (max-width: 500px) {
    p.pull-quote { display: none; }
}
