@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.bar #twitter_litte:before, .bar #flickrfeed:before, .icon-pencil, .icon-bubble, .icon-twitter, .icon-feed, .icon-vimeo, .icon-flickr, .icon-picassa, .icon-dribbble, .icon-tux, .icon-apple, .icon-pinterest, .icon-stumbleupon, .icon-lastfm, .icon-chrome, .icon-github, .icon-skype, .icon-reddit, .icon-wordpress, .icon-google-plus, .icon-facebook, .icon-file, .icon-mail, .icon-xing, .icon-star, .icon-star-2, .icon-star-3, .icon-remove, .icon-cog, .icon-spam, .icon-arrow-up, .icon-console, .icon-link {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-pencil:before {
	content: "\e000";
}
.icon-bubble:before {
	content: "\e001";
}
.bar #twitter_litte:before, .icon-twitter:before {
	content: "\e002";
}
.icon-feed:before {
	content: "\e003";
}
.icon-vimeo:before {
	content: "\e004";
}
.bar #flickrfeed:before, .icon-flickr:before {
	content: "\e005";
}
.icon-picassa:before {
	content: "\e006";
}
.icon-dribbble:before {
	content: "\e007";
}
.icon-tux:before {
	content: "\e008";
}
.icon-apple:before {
	content: "\e009";
}
.icon-pinterest:before {
	content: "\e00a";
}
.icon-stumbleupon:before {
	content: "\e00b";
}
.icon-lastfm:before {
	content: "\e00c";
}
.icon-chrome:before {
	content: "\e00d";
}
.icon-github:before {
	content: "\e00e";
}
.icon-skype:before {
	content: "\e00f";
}
.icon-reddit:before {
	content: "\e010";
}
.icon-wordpress:before {
	content: "\e011";
}
.icon-google-plus:before {
	content: "\e012";
}
.icon-facebook:before {
	content: "\e013";
}
.icon-file:before {
	content: "\e014";
}
.icon-mail:before {
	content: "\e015";
}
.icon-xing:before {
	content: "\e016";
}
.icon-star:before {
	content: "\e017";
}
.icon-star-2:before {
	content: "\e019";
}
.icon-star-3:before {
	content: "\e01a";
}
.icon-remove:before {
	content: "\e01b";
}
.icon-cog:before {
	content: "\e01c";
}
.icon-spam:before {
	content: "\e01d";
}
.icon-arrow-up:before {
	content: "\e01e";
}
.icon-console:before {
	content: "\e018";
}
.icon-link:before {
	content: "\e01f";
}
